.reveal {

  section:not(.first) {
    blockquote {
      margin: 1.5rem auto;
      background-color: white;
      border-left: #082b36 2px solid;
      cite {
        display: block;
        color: #969696;
        text-align: right;
        &:before {
          content: '-';
        }
      }
    }
  }

}
